
bin/
obj/
*.exe
*.dll
*.pdb
*.app

*.nupkg
packages/
.nuget/

.vs/
*.user
*.suo
*.cache
*.csproj.user

TaskManager.API/taskmanager.db
TaskManager.API/taskmanager.db-journal
TaskManager.Infrastructure/Migrations/

logs/
*.log
debug/
dump/
